* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0;
    max-width: 1126px;
}
.boxes-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.box {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: green;
}

